<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-primary">
				<div class="panel-heading">BLACK FRIDAY DEAL</div>
				<div class="panel-body"><%= image_tag 'look-1.jpg', class: 'responsive-img center-block', alt: 'Image' %></div>
				<div class="panel-footer">Buy 50 mobiles and get a gift card</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-danger">
				<div class="panel-heading">BLACK FRIDAY DEAL</div>
				<div class="panel-body"><%= image_tag 'look-2.jpg', class: 'responsive-img center-block', alt: 'Image' %></div>
				<div class="panel-footer">Buy 50 mobiles and get a gift card</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-success">
				<div class="panel-heading">BLACK FRIDAY DEAL</div>
				<div class="panel-body"><%= image_tag 'look-3.jpg', class: 'responsive-img center-block', alt: 'Image' %></div>
				<div class="panel-footer">Buy 50 mobiles and get a gift card</div>
			</div>
		</div>
	</div>
</div><br>

<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-primary">
				<div class="panel-heading">BLACK FRIDAY DEAL</div>
				<div class="panel-body"><%= image_tag 'look-4.jpg', class: 'responsive-img center-block', alt: 'Image' %></div>
				<div class="panel-footer">Buy 50 mobiles and get a gift card</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-primary">
				<div class="panel-heading">BLACK FRIDAY DEAL</div>
				<div class="panel-body"><%= image_tag 'look-5.jpg', class: 'responsive-img center-block', alt: 'Image' %></div>
				<div class="panel-footer">Buy 50 mobiles and get a gift card</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-primary">
				<div class="panel-heading">BLACK FRIDAY DEAL</div>
				<div class="panel-body"><%= image_tag 'look-6.jpg', class: 'responsive-img center-block', alt: 'Image' %></div>
				<div class="panel-footer">Buy 50 mobiles and get a gift card</div>
			</div>
		</div>
	</div>
</div><br><br>
