<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Clappsy</title>
	<%= csrf_meta_tags %>

	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<script src="http://maps.googleapis.com/maps/api/js"></script>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
	<!-- http://www.w3schools.com/bootstrap/bootstrap_navbar.asp -->
	<header>
		<%= render 'layouts/navigation' %>
		<%= render 'layouts/notifications' %>
	</header>
	<main>
		<section>
			<%= yield %>
		</section>
	</main>
	<footer class="container-fluid text-center">
		<%= render "layouts/footer" %>
	</footer>
</body>
</html>
